.startimg {
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logopic {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pads {
    padding-bottom: 6px;
}