<div class="container">
    <img src = "./img/courseLogo.png" class = "img-responsive startimg">
    <h3> Emily is testing stuff here</h3>
    <ul class="square">
        <li>{{#link-to 'placeBidOrder'}}Bid Order{{/link-to}}</li>
        <li>{{#link-to 'placeSaleOrder'}}Sale Order{{/link-to}}</li>
    </ul>
</div>
{{outlet}}
