<div class = "container">
    <div class = "row">
        <div class = "col-md-4">
            <h3><center> Market By Order for {{model.name}}</center></h3>
            <table class = "table table-striped table-bordered">
                <thead>
                    <tr>
                        <td colspan = "2" style = "text-align:center;"> Buy </td>
                        <td colspan = "2" style = "text-align:center;"> Sell</td>
                    </tr>
                    <tr>
                        <td style = "text-align:center;">Volume</td>
                        <td style = "text-align:center;">Price</td>
                        <td style = "text-align:center;">Volume</td>
                        <td style = "text-align:center;">Price</td>
                    </tr>
                </thead>
                <tbody>
                    {{marketByOrderBuilder sortedBidOrders sortedSellOrders}}
                </tbody>
            </table>
        </div>
        <div class = "col-md-6">
            {{outlet}}
        </div>
        <div class = "col-md-2">
            <h3><center>Symbol</center></h3>
            <img {{bindAttr src = "model.logo"}} class = "img-responsive logopic" >
        </div>
    </div>
</div>