<br>
<div class="container">
    <div class="container">
        <div class="col-md-8">
            <h1>Company Name goes here (populated with company class)</h1>
        </div>
    </div>

    <br><br>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-2">
                    <label for="bidnum">Number of Shares:</label>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" id="bidnum" class="form-control" placeholder="Number of Bids">
                    </div>
                </div>
            </div>
            <br><br>
            <div class="form-group">
                <div class="col-md-2">
                    <label for="bidprice">Purchase Price:</label>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" id="bidprice" class="form-control" placeholder="Price of Bids">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="./img/facebook.png" class="square" style="padding-bottom:50px;">
        </div>
    </div>
    <br><br>

    <div class="container">
        <div class="col-md-2 col-md-offset-4">
            <button type="button" class="btn btn-success">Submit</button>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <button type="button" class="btn btn-danger">Cancel</button>
        </div>
    </div>
    <br><br>