<br>
<div class = "container">
      <div class = "navbar navbar-default">
          <div class = "container">
              <ul class = "nav navbar-nav">
                  <li class="active"><a href="#">Most Active By Volume<span class="sr-only">(current)</span></a></li>
                  <li><a href="#">Gainers</a></li>
                  <li><a href = "#">Losers</a></li>
              </ul>
          </div>
      </div>
</div>
